<div class="container-fluid">
	<div class="row">
		
		<div class="col-md-10">
			<div class="row">
	     <div class="col-md-9" id="padding">
		    <div class="row">
          <div class="col-md-10">
            <p class="lead"> Listing users </p>
          </div>
          <div class="col-md-2">
        <%= link_to 'Add User', new_user_path,:class => 'btn btn-primary' %>
          </div>
        </div>
        
          <table class="table table-striped table-hover">
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email</th>
              <th>Institution</th>
              <th>Role</th>
              <th colspan="3" class="text-center"></th>
            </tr>
                <% if @list.blank? %> 
                  <p> No Users </p>
                <% else %>
            <% @list.each do |allusers| %>
            <tr>
              <td><%= allusers.first_name%></td>
              <td><%= allusers.last_name%></td>
              <td><%= allusers.email%></td>
              <td><%= allusers.institution%></td>
              <td><%= allusers.role%></td>
                
              <!-- <td><a href="/admins/39">Show</a></td> -->
              <td><%= link_to 'Show', user_path,:class => 'btn btn-primary' %></td>
              <!-- <td><a href="/admins/39/edit">Edit</a></td> -->
              <td><%= link_to 'Edit', edit_user_path,:class => 'btn btn-primary' %></td>
              <!-- <td><a href="/admins/delete/<%=allusers.id%>" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Destroy</a></td> -->
              <td><%= link_to 'Destroy', edit_user_path,:class => 'btn btn-primary' %></td>
            </tr>
            <% end %>
          <% end %>
          </table>
          <div  class='col-lg-offset-3'>
        </div>
      </div>
     </div>
    </div>
  </div>
</div>

