<div class="container-fluid">
<div class="row">
<div class="col-md-10">
<div class="col-md-9">
  <div class="well">
   	<legend>User Registration Form </legend>
      <fieldset>
        <div class="form-horizontal">
          <%= form_for :users, :url => {controller: 'users_admin', action: 'create'}, :method=>'post' do |user| %> 
            
            <div style="margin:0;padding:0;display:inline">
              <input name="utf8" type="hidden" value="&#x2713;" />
              <input name="authenticity_token" type="hidden" value="Ng9VhSIqGmalAc1q4I+p2yiej91xFr3SSIVe2IViEmQ=" />
            </div>
                  
            <div class="form-group row">
              <%= user.label :FirstName, class: "string optional control-label control-label col-md-2 col-lg-2" %>
                <div class="col-md-4 col-lg-4">
              <%= user.text_field :first_name, class: "form-control" %>
                </div>
            </div>

            <div class="form-group row">
              <%= user.label :LastName, class: "string optional control-label control-label col-md-2 col-lg-2" %>
                <div class="col-md-4 col-lg-4">
              <%= user.text_field :Last_name, class: "form-control" %>
                </div>
            </div>

            <div class="form-group row">
              <%= user.label :Institution, class: "string optional control-label control-label col-md-2 col-lg-2" %>
                <div class="col-md-4 col-lg-4">
              <%= user.text_field :institution, class: "form-control" %>
                </div>
            </div>

            <div class="form-group row">
              <%= user.label :Email, class: "string optional control-label control-label col-md-2 col-lg-2" %>
                <div class="col-md-4 col-lg-4">
              <%= user.text_field :email, class: "form-control" %>
                </div>
            </div>

            <div class="form-group row">
              <%= user.label :Password, class: "string optional control-label control-label col-md-2 col-lg-2" %>
                <div class="col-md-4 col-lg-4">
              <%= user.password_field :password, class: "form-control" %>
                </div>
            </div>

            <div class="form-group row">
              <%= user.label :Confirmation, class: "string optional control-label control-label col-md-2 col-lg-2" %>
                <div class="col-md-4 col-lg-4">
              <%= user.password_field :Confirmation, class: "form-control" %>
                </div>
            </div>

            <div class="form-group row">
              <%= user.label :Role, class: "string optional control-label control-label col-md-2 col-lg-2" %>
                <div class="col-md-4 col-lg-4">
                  <select class="form-control" name="user[role]">
                    <%= @roles.each do |r|%>
                      <option value="<%= r.role%>"><%= r.role%></option>
                    <% end %>
                  </select>
                </div>
            </div>

            <div class="form-group">
              <div class="col-md-offset-2 col-md-8">
                <%= user.submit "Save", class: "btn btn-primary", style: "margin-left: 20%"%>
                <%= link_to 'Back', users_admin_index_path, :method => 'get', :class => "btn btn-default"%>
              </div>
            </div>
          </fieldset>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>
</div>
