
<!DOCTYPE html>
<html>
<head>
  <title>QuaLIFY Inventory</title>
  <link href="/assets/application-f899fd12bf6abcfcbbca7d7bce241d75.css" media="all" rel="stylesheet" type="text/css" />
  <script src="/assets/application-d5fe9d6c1fdd144806fea7cfb0b65323.js" type="text/javascript"></script>
  <style type="text/css"></style>
  <script type="text/javascript" src='http://www.google.com/jsapi'></script>
  <meta content="authenticity_token" name="csrf-param" />
<meta content="zKq391JeBVwlkiD3KHG52dTj7WEqzAx6pCWUPuMPjUA=" name="csrf-token" />
</head>

<body>

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="nav navbar-header">
    <a href="/devise/home/contact" class="navbar-brand">Contact</a>
  </div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">English <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">German</a></li>
        </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav pull-right">

      <li><a href="/users/sign_out" data-method="delete" rel="nofollow">Sign Out</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav> <br><br><br>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-2 sidebar-padding">
            <div class="list-group">
    <a href="/users_admin" class="list-group-item active">Users</a>
  <a href="/roles" class="list-group-item">Roles</a>

  <a href="/" class="list-group-item">Gadget inventory</a>


</div>

 
  
        
        
        
        
        
        
        
       
          </div>
          <div class="col-md-10">
            <div class="row">
  <div class="col-md-9">
    <div class="well">

      <b>Name:</b>
        <%= @user.last_name %>
      </p>
      <p>
      <b>Email:</b>
        <%= @user.email %>
      </p>
      <p>
      <b>Institution:</b>
        <%= @user.institution %>
      </p>
      <p>
      <b>Role:</b>
        <%= @user.role %>
      </p>
      <a href="/users_admin/47/edit" class="btn btn-success">Edit</a>

      <%= link_to 'Back', users_admin_index_path, :class => 'btn btn-default' %>  
     <!--  <a href="/users_admin" class="btn btn-default">Back</a> -->
    </div>
  </div>
</div>
          </div>
        </div>
      </div>
</body>
</html>
